<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.honza.backpropagation"
    android:versionCode="4"
    android:versionName="1.3" >

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="4" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="cz.honza.backpropagation.NetworkApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="cz.honza.backpropagation.main.MainActivity"
            android:label="@string/full_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cz.honza.backpropagation.learning.LearningActivity"
            android:label="@string/learning" />
        <activity
            android:name="cz.honza.backpropagation.network.visualisation.VisualisationActivity"
            android:label="@string/network_visualisation" />
        <activity
            android:name="cz.honza.backpropagation.result.ResultActivity"
            android:label="@string/result_visualisation" />
        <activity
            android:name="cz.honza.backpropagation.export.ExportActivity"
            android:label="@string/export_xml" />
        <activity
            android:name="cz.honza.backpropagation.export.ImportActivity"
            android:label="@string/import_xml" />
        
    </application>

</manifest>
